<div class="feature">
    <div class="feature__icon">
        {% include 'svg/' ~ icon ~ '.svg.twig' %}
    </div>
    <h4 class="feature__title">{{ title }}</h4>
    <p class="feature__details">{{ details }}</p>
</div>
