<footer class="footer row">
    <div class="row__column">
        Created by
        <a href="https://github.com/benatespina">Beñat Espiña</a> and
        <a href="https://github.com/gorkalaucirica">Gorka Laucirica</a>
    </div>
</footer>
