{% import 'components/bengor_logo.html.twig' as logo %}

<div class="product">
    <h5 class="product__logo">{{ logo.logo(product) }}</h5>
    <p class="product__details">{{ details }}</p>
    <a href="">View more</a>
</div>
