@import '../variables/colors';
@import '../variables/typography';

* {
  box-sizing: border-box;
}

html,
body {
  color: $color-secondary;
  font-family: $font-family-content;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 136%;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
}

p {
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

a {
  color: $color-main;
  font-size: 16px;
  font-weight: $font-weight-normal;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

small {
  font-size: .7em;
}

strong {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

blockquote {
  margin-bottom: 15px;
}

li {
  margin-bottom: 7px;
  padding-left: 15px;

  &:before {
    content: "●";
    color: $color-main;
    margin-right: 10px;
  }
}

.body--no-scroll {
  overflow-y: hidden;
}
