@import '../variables/colors';
@import '../variables/typography';

.button {
  border: 2px solid;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-content;
  font-weight: $font-weight-bold;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 11px;
  outline: 0;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s;

  &:hover {
    transition: background-color .2s, border-color .2s, color .2s;
  }
}

.button--main {
  background-color: $color-main;
  border-color: $color-main;
  color: $color-white;

  &:hover {
    background: darken($color-main, 10%);
    border-color: darken($color-main, 10%);
  }
}

.button--main-inverted {
  background-color: $color-white;
  border-color: $color-main;
  color: $color-main;

  &:hover {
    background: $color-main;
    border-color: $color-main;
    color: $color-white;
  }
}
