@import '../variables/grid';
@import '../variables/colors';

.deprecation-notice {
  display: none;
}

.no-flexbox {
  .deprecation-notice {
    background: $color-white;
    bottom: 0;
    display: block;
    left: 0;
    padding-top: 30px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 200;
  }
}

.deprecation-notice__title,
.deprecation-notice__content {
  margin: auto;
  max-width: 500px;
  padding: 0 $column-gutter;
}

.deprecation-notice__title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px auto;
}
