@import '../variables/colors';

.tech-logo {
  align-items: center;
  display: flex;
  fill: $color-main;
  height: 50px;

  > svg {
    height: 50px;
  }
}

.tech-logo--npm {
  > svg {
    height: 30px;
  }
}
