$color-white: #fff;
$color-alabaster: #fafafa;
$color-seashell: #f1f1f1;
$color-alto: #d0d0d0;
$color-silver: #cccccc;
$color-gray: #8a8a8a;
$color-tundora: #424242;
$color-mine-shaft: #2d2d2d;
$color-black: #2d2d2d;
$color-laurel: #008400;
$color-disco: #971539;
$color-givry: #f8e9c2;
$color-catskill: #e3ebf1;
$color-blue-twitter: #55acee;

$color-main: $color-disco !default;
$color-secondary: $color-mine-shaft !default;

$color-product-cookies: $color-disco;
$color-product-user: $color-laurel;
$color-product-file: $color-blue-twitter;
